@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Poppins:wght@400;700&display=swap');
:root {
    --bg-green-color:#38AF90;
    --text-white-color:#fff;
    --h2-gray-color:#797979;
    --bg-gray-color:#F0F0F0;
    --text-pink-color:#DD7E92;
    --text-gray-color:#C4C4C4;
    --bg-white-color: #E5E5E5;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
.nav-container {
    height: 90px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--bg-green-color);
    display:flex ;
    justify-content: space-between;
    align-items:center ;
    
}
.nav-container img {
    width: 62px;
    padding: 14px 10px 14px 0px;
}
h1 {
    color: var(--text-white-color);
    font-size: 18px;
    padding:30px 0px 30px 10px ;
}

#news-session h2 {
    font-size:24px ;
    display: flex;
    justify-content: center;
    padding: 40px 0px 8px 0px ;
    color: var(--h2-gray-color);
}
#section-new {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}
.card-new h3 {
    color: var(--bg-green-color);
    font-size:1rem ;
}
.card-new {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    padding:0 10px ;
   
}
.card-description {
    background-color:var(--bg-gray-color);
    border-radius: 8px;
    padding:16px 13px 13px 13px;
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25) ;
    margin-bottom:28px ;
}
.text-card {
    font-size: 12px;
    padding-bottom: 5px;
    color: var(--h2-gray-color);
    border-bottom:1px solid var(--bg-green-color) ;
}
time {
    color: var(--bg-green-color);
    padding-bottom: 12px;
    font-size: 10px;

}
.card-p {
    font-size:10px;
    color: var(--h2-gray-color);
    padding-bottom: 29px;
}
#read-more {
    font-size: 14px;
    color: var(--text-pink-color)
}
.button {
    
    background-color: var(--text-pink-color);
    border-radius: 8px;
    border: none;
    padding: 20px 50px;
    color: var(--text-white-color);
    font-size: 18px;
    font-weight: 700;
}
.button-container {
    padding:0px 38px 40px 38px ;
    display: flex;
    justify-content: center;
    
}
#games {
   font-size: 24px; 
   display: flex;
   justify-content: center;
   color: var(--bg-green-color);
   padding-bottom: 28px;
   padding-top: 40px;
}

img {
    width: 300px; 
    border-radius: 8px 8px 0px 0px ;
}
.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    
} 
#saction-backGround {
    background-color:var(--bg-gray-color) ;
    
}
.card-games {
    border-radius: 8px ;
    margin: 0px 20px 27px;
    box-shadow:0px 4px 20px rgba(0, 0, 0, 0.25) ;
    background-color: var(--text-white-color);
    width: 300px;

}
.card-games h3 {
    font-size: 18px;
    color: var(--h2-gray-color);
    padding: 27px 40px 0px 40px;
    
}

.game-note {
    font-size:36px ;
    display: flex;
    justify-content: center;
    color: var(--bg-green-color);
    padding: 13px 0px 10px 0px;
    
}
.card-text span{
    font-size: 14px;
    color: var(--bg-green-color);
    font-weight: bold;
}
.card-text {
    justify-content: center;
}
.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: var(--text-white-color);
}
.container h2 {
    font-size:24px ;
    display: flex;
    justify-content: center;
    padding: 40px 0px 16px 0px ;
    color: var(--h2-gray-color);
   
}
.form-card {
    border-radius:8px;
    background-color: var(--bg-gray-color);
    margin: 0px 8px 40px 12px;
    width: 300px;
}
.form-card form{
    display: flex;
    flex-direction: column;
    padding: 52px 12px 33px 8px;

}
.form-card input {
    background-color: #f0f0f0;
    border-radius: 4px;
    padding:20px ;
}
.input-text input {
    height: 50px;
    width: 280px;
  
}
.input-text input::placeholder {
    color: var(--text-gray-color);
    background-color: var(--text-white-color);
    font-size: 16px;
}
#submit {
    padding:47px 0px 20px 0px ;
}
#submit input {
    display: flex;
    justify-content: center;
    width:244px ;
    height: 67px;
    background-color:#DD7E92;
    color: var(--text-white-color);
    border: none;
    font-size: 18px;
    font-weight: 700;
}

#reset input {
    width:244px ;
    height: 67px;
    background-color: var(--text-white-color);
    color: #DD7E92;
    border: 2px solid #DD7E92;
    font-size: 18px;
    font-weight: 700;
}
footer {
    background-color:#383838 ;
    min-height: 302px;
}
.footer-container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
}

#social-media a {
    text-decoration: none;
    color:var(--text-white-color);
    font-size: 14px;
}
#social-media {
    display: flex;
    flex-direction: column;
    align-items:center ;
    padding-top:28px ;
}

.right-reserved {
    justify-content: center;
    color: var(--text-white-color);
    font-size:14px ;
    font-weight: normal;
   padding: 37px 0px 37px 0px;
    text-align: center;
}
